* {
  /* toDo: change it when add support to dark and light mode */
  --color-fg-default: #c9d1d9;
  --color-bg-code-block: #161b22;
  --color-bg-inline-code-block: rgb(110 118 129 / 40%);
  --color-gray: #8b949e;
  --color-red: var(--editor-text-primary);
  --color-blue: var(--editor-text-secondary);
  --color-green: #61e96c;
  --color-indigo: #a5d6ff;
  --color-purple: #d2a8ff;
  --color-brown: #ffa657;
}
