
.light {
	--color-fg-default: #24292f;
	--color-bg-code-block: #f6f8fa;
	--color-bg-inline-code-block: rgb(175 184 193 / 20%);
	--color-gray: #6e7781;
	--color-red: var(--editor-text-primary);
	--color-blue: var(--editor-text-secondary);
	--color-green: #18883a;
	--color-indigo: #0a3069;
	--color-purple: #8250df;
	--color-brown: #953800;
}